new UserModel(2):<br/><br/>
{{userId2.id}}
{{userId2.name}}
{{userId2.lastname}}
{{userId2.email}}
<br/><br/>----------------------------------------------------------<br/><br/>

usersModel.all():<br/><br/>
{% for user in users %}
     <br/><br/>===========<br/><br/>
     <div>ID: {{user.id}}</div><br/>
     <div>NAME: {{user.name}}</div><br/>
     <div>LASTNAME: {{user.lastname}}</div><br/>
     <div>EMAIL: {{user.email}}</div><br/>
     <br/><br/>===========<br/><br/>
{% endfor %}

<br/><br/>----------------------------------------------------------<br/><br/>
